<%- include("partials/header") %>

<div class="container">
    <h1 class="text-center">Show a Campground</h1>
    
    <p><%= campground.name %></p>
    <p><img src="<%= campground.image%>" alt=""></p>
    <p><%= campground.description %></p>
    <p><a href="/campgrounds">Go back to Campgrounds list...</a></p>
</div>

<%- include("partials/footer") %>